body {
	padding-bottom: 40px;
	padding-top: 70px;
}

.mid {
	text-align:center;	
}

/* Beginning tagline */
.tagline {
	margin-bottom: 40px;
	height: 500px;
}

#tagline-image {
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #AAA;
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: absolute;
	margin-top: -10px;
}

#myCarousel {
	z-index: -1000;
}

#headerButtons {
	position:absolute; 		
	z-index:5;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	margin-top:410px;
}

#theButtons {
	display:block;
	text-align:center;
}
	
.tagline-descr {
	display:inline;
	text-align:left;
	color: #FFF;
}

.quote-placement {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 360px;
}

.quote-background {
	background: rgba(0,0,0,0.5);
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* Inputs */
.input-medium#email {
	height: 26px;
	width: 200px;
	font-size: 18px;
	color: #111;
}
.add-on#emaila {
	height: 26px;
	width: 16px;
}
#email-icon {
	margin-top: 5px;
}

.file-div {
	width: 100px;
	margin: -9px -20px -9px -20px;
	overflow: hidden;
}
input[type="file"], .file-button {
	opacity: 0;
	-moz-opacity: 0;
	position: absolute;
	width: 106px;
	height: 37px;
	margin-top: -10px;
	margin-left: 5px;
}

/* Marketing section of Overview */
.marketing .row {
	margin-bottom: 9px;
}
.marketing h1 {
	margin: 30px 0 27px;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}
.marketing h2,
.marketing h3 {
	font-weight: 300;
}
.marketing h2 {
	font-size: 22px;
}
.marketing p {
	margin-right: 10px;
}

.marketing-byline {
	margin: -18px 0 27px;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	color: #999;
	text-align: center;
}

.floor {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #1B1B1B;
}

/* Payment page styles */
.paymentwell {
	height: 300px;
}

/* Footer styles */
footer p, 
footer h1, 
footer h2, 
footer h3 {
	color: #333;
}

/* video / image frames */
.video-frame {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* Faded out hr */
hr.soften {
	height: 1px;
	margin: 30px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-color: rgba(0,0,0,0);
	border: 0;
}
/* Footer Styling */
footer[role="contentinfo"]{
	background:#EDEDED;
	padding-bottom:20px;
	border-top: 1px solid #DDD;
	margin-bottom:-50px;
}
#footer-box{
	height:50px;
}
.attribution{
	font-size: 16px;
	padding-top:20px;
}

/*navigation changes - goes against bootsrap norm */
.navbar-inner{
	background-image:none !important;
	background-color:#EDEDED !important;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar .brand{
	padding: 0px 0px 0px 0px !important;
	font-size:30px !important;
	font-weight:bold !important;
	color: #017AFF !important;
}
.navbar-text{
	font-size: 30px;
	/*font-weight: 600;*/
	padding: 12px 10px 8px 10px;
}

/* Hides Typekit badge */
.typekit-badge{
	display:none !important;
}

/* Styling from the opaque box on homepage */
.intro{
	margin-top: 10px;
	margin-bottom: 30px;
	color: #DDD;
	line-height: 23px;
	font-weight: 300;
	font-size:20px;
}

/* Circle Slider Stylings */
.hero-circle{
	background: url(/img/grey_circle.png) no-repeat;
	height: 108px;
}
.hero-circle-padding{
	padding:28px;
}
/* bootstrap hackaround */
.input-prepend .add-on, .input-prepend .btn {
	margin-right: -5px !important;
}

/* email suggestion fixer */
.email-suggestion{
	color: #EEE;
	text-align:left;
}
.email-suggestion-wrap{
	height:25px;
	margin-top:-15px;
} 
/*Starting FAQ section*/
.faq h1 {
	margin: 30px 0 27px;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}
.faq h2,
.faq h3 {
	font-weight: 300;
}
.faq h2 {
	font-size: 22px;
}
.faq p {
	margin-right: 10px;
}

