<div class="container tagline">
	<div class="tagline-image">
		<div class="tagline-descr">
			<% if @problem %>
			<h3>Why You Should Be Concerned:</h3>
			<p>Because of the way Penn State sets up their residential internet:</p>
			<div class="list">
				<ul>
					<% arr = @elements.to_a.shuffle %>
					<% 0.upto(arr.length-1) do |k| %>
					<li>Any website can get your <b><%= arr[k].parent.css("td")[0].content %></b>
					<%= arr[k].content %> 
					</li>
					<% end %>
				</ul>
				<br/>
				<p>So what can you do? Not much. You can either ignore this, knowing that any website you visit can get your name and address. Perhaps you don't mind the name part, but the address part bothers you. If this is the case, you can go to elion->address information and choose to have you address taken out of the Penn State directory, however, websites can still get your name. Finally, you can <a href="http://www.psu.edu/directory/#conf">request to be removed</a> from the public Penn State directory altogether. However this has potential problems - for example: "if a prospective employer were to contact the Registrar's Office to verify a student's status, the employer could not receive confirmation that the student was attending Penn State. Likewise, if a student were to apply for a credit card with a company that wanted to verify that the applicant was a Penn State student, the Registrar's Office again could not confirm the information." None of your options are great, but make the choice that you think is best.</p>
			</div>
			<% else %>
			<h3>You're not using internet in a Penn State dorm - no need to worry!</h3>
			<% end %>
		</div>
	</div>
</div>

