/* Commonly Used CSS Features */

/*Rounded Corners*/
.bitletRoundedCorners{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

/*Drop Shadow - similar to dashboard area */
.bitletDropShadow{
	border:0;
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
}

/*Inner shadow for text*/
.bitletInnerShadow{
	-moz-box-shadow:    inset 0px 1px 5px rgba(0,0,0,0.5);
	-ms-box-shadow:    inset 0px 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5);
	box-shadow:         inset 0px 1px 5px rgba(0,0,0,0.5);
}

/*modal x */
.close{
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

/*Larger height for text input boxes*/
.inputHeightLarge{
	height: 26px !important;
	font-size:18px !important;
}

/*CSS Styles for the settings pages, general layout only*/
.settingsLeftContent{
	width:620px;
	float:left;
	-webkit-box-shadow:1px 0px 1px -1px #CCD;
	-moz-box-shadow: 1px 0px 1px -1px #CCD;
	box-shadow:1px 0px 1px -1px #CCD; 
}

.settingsRightMenu{
	width:300px;
	float:left;
	margin: 7px 0 0 19px;

}
