/* Commonly Used CSS Features */

/*Rounded Corners*/
.rounded-corners{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

/*Drop Shadow - similar to dashboard area */
.bitlet-shadow{
	box-shadow: 2px 2px 5px 1px #999;
	-moz-box-shadow: 2px 2px 5px 1px #999;
	-webkit-box-shadow: 2px 2px 5px 1px #999;
}

.bitletInnerShadow{
	-moz-box-shadow:    inset 0px 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5);
	box-shadow:         inset 0px 1px 5px rgba(0,0,0,0.5);
}
