.bitletLogin{
	height:26px;
	font-size:18px;
	width:193px;
}
#loginModalHeader{
	background:whiteSmoke;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	border-bottom: 1px solid #DDD;
}

#loginModalHeader .close{
	border:none !important;
	background:none !important;
	font-size:13px !important;

}
#loginModalHeader .modal-body{
	padding:15px 35px 0px;
}
#loginModal .modalLoginFooter{
	background: none;
	padding: 0px 35px 15px;
	border: none;
}
.loginAddOn{
	height:26px !important;
	margin-top:-8px;
	margin-right:-5px !important;
}

.loginIcon{
	margin-top:5px;
}
.loginRememberMe{
	float:left;
}
#forgotPasswordLogin{
	float:right;
}
#bitletLoginSubmitbtn{
	width:100%;
}

