#login-form{

}
.bitlet-login{
	height:26px;
	font-size:18px;
	width:260px;
}
.login-email{
}
.login-password{
}
.forgot-password-login{
	float:left;
}
.bitlet-login-submitbtn{
	float:right;
}
.close{
	border:none !important;
	background:none !important;
	font-size:13px !important;

}
