#login-form{

}
.bitlet-login{
	height:26px;
	font-size:18px;
	width:193px;/*
*	220px
*/
}
.login-email{
}
.login-password{
}
.forgot-password-login{
	float:right;
}
.bitlet-login-submitbtn{
	width:100%;
}
.close{
	border:none !important;
	background:none !important;
	font-size:13px !important;

}
.login-modal-header{
	background:whiteSmoke;
	-webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	border-bottom: 1px solid #DDD;
}
.modal-body{
	padding:15px 35px 0px;
}
.modal-login-footer{
	background: none;
	padding: 0px 35px 15px;
	border: none;
}
.login-add-on{
	height:26px !important;
	margin-top:-8px;
}

.icon-user{
	margin-top:5px;
}
.icon-lock{
	margin-top:5px;
}
.login-remember-me{
	float:left;
}
