body {
	padding-bottom: 40px;
	padding-top:0px !important;
	background: url(/img/bg/bg-pattern.png) repeat;
}

/*
 * Navigation Styling/ Top Area Styles 
 * 
 */
#navbar-bitlet{
	height:100px;
}
#navbar-bitlet .container{
	width:980px;
}
.brand{
	background:url(/img/logoSmall.png) no-repeat;
	height:40px;
	width:96px;
	display:block;
	margin-top:35px;
	float:left;
}

.brand h1{
	text-indent:-99999px;
}
.menu-navbar-bitlet{
	font-size:15px;
	padding-top:50px;
	color:#000066;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	float:right;
}
.menu-navbar-bitlet a{
	padding:0px 0px 0 15px;
	color:#000066; 
}
#imenu-navbar-account {
	padding: 0px;
}
#menu-navbar-welcome {
	color: #005580;
}


.menu-navbar-bitlet #userEmail a{
	color:#A3A4A5; 
	border: 1px solid #ddd;  
	text-decoration:none; 
	padding: 0px 0px 0px 5px; 
}

.dropdown #userEmail{
	padding:10px; 
}

.dropdown a:hover {
	text-decoration:none; 
	color:#A3CCCC;
}

.open #userEmail {
	background:transparent; 
	box-shadow: none; 
	color:#A3CCCC;  
	padding-top:5px; 
	border-radius:5px;
}

#userEmail  a:hover {
	color:#ddd; 
}

.dropdown.open #userEmail a:hover {
	background:white; 
	opacity: 1;
}

.open a:hover {
	box-shadow: none; 
	color:black; 
}

#caret {
	border-radius:5px;
	margin-right:6px; 
}

/* Dropdown menu styles */

#menu1 {
	margin-left: -80px;
	font-size:12px; 
	color:#333; 
	background:#FFF;
	border:1px solid #DDD;
	border-radius:5px; 
	margin-top:3px; 
}

#menu1 a{
	color:#7A9999; 
	padding:5px; 
	padding-left:10px; 
}

#menu1 a:hover {
	background:#ddd;
	opacity:0.8; 
}

/*/
 * Footer Styling 
 */
footer[role="contentinfo"]{
	padding-bottom:20px;
	margin-bottom:-50px;
}
#footer-box{
	height:50px;
}
.attribution{
	font-size: 16px;
	padding-top:20px;
}
footer p, 
footer h1, 
footer h2, 
footer h3 {
	color: #333;
}
.footer-text {
	font-size: 13px; 
	color: #73A6B0; 
	padding: 0 5px 0 5px;
	float:left;
}
.copyright-text {
	 color:#9EC5CD; 
	float:right;
}

/*
 * Styles that are commonly used
 */


/* 
 * Other Sytling Non-Major Standard Units, Etc:
 *
 * Modal CSS
 */
.modal-body {
	max-height: 500px;
}

/*
 * Login modal
 */
#LoginModal{
	width:300px !important;
	left:60%;
}

/*
 * Faded out hr 
 */
hr.soften {
	height: 1px;
	margin: 30px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-color: rgba(0,0,0,0);
	border: 0;
}

