body {
	background: #FFF;
	text-align: center;
	padding: 0px;
}

#login-form{

}
.bitlet-login{
	height:26px;
	font-size:18px;
	width:250px;
}
.login-email{
	width: 460px;
}
.login-password{
	width: 460px;
}
.forgot-password-login{
	float:left;
}
.bitlet-login-submitbtn{
	float:right;
}
