<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /
RewriteRule ^admin/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^buy/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^sell/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^faq/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^terms/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^about/?(.*)$ controller.php?args=$1 [L]

RewriteRule ^ajax/(.*)$ ajax.php [L]

RewriteRule ^/?$ controller.php [L]

</IfModule>
