<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /
RewriteRule ^a/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^b/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^l/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^faq/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^terms/?(.*)$ controller.php?args=$1 [L]
RewriteRule ^about/?(.*)$ controller.php?args=$1 [L]

RewriteRule ^ajax/(.*)$ async.php [L]
RewriteRule ^iframe/(.*)/(.*)$ iframe.php?args=$2 [L]
RewriteRule ^/?$ controller.php [L]

RewriteRule ^.*$ controller.php [L]

</IfModule>
