/*Everything pertaining to the left side div commences here*/
.leftSideContainer { 
	position:absolute;
	z-index: 20;
	top: 0; 
	left:0; 
	width:119px; 
	height:100%; 
	font-weight:300; 
	border-right: 1px solid #687CC9;

	/* gradient */
	background: #475189; /*for non-css3 browsers*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475189', endColorstr='#28306B'); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#475189), to(#28306B)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #475189,  #28306B); /* for firefox 3.6+ */ 

	/* rounded corner */
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.leftSideMenu {
	width: 119px;
	margin: 0 0 10px 0;
}

.leftSideMenu #topCorner {
	height: 30px;

	border-right: 1px solid #687CC9;

	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	/* gradient */
	background: #586CB9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586CB9', endColorstr='#3B53AD'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#586CB9), to(#3B53AD)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #586CB9,  #3B53AD); /* for firefox 3.6+ */ 
}

.leftSideMenu img {
	display: block;
	width: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.leftSideMenu li a {
	color: #FFF;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}	
	
.leftSideMenu li a:link, #navMenu li a:visited {
	display: block;
	padding: 10px 0 10px 0;
}
	
.leftSideMenu li a:hover {
	color: #FFF;
	padding: 10px 0 10px 0;
	background: #5561A5;
}

.leftSideMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.leftSideMenu hr {
	margin: 0;
	border-top: 1px solid #28306B;
	border-bottom: 1px solid #475189;
}

.leftSideMenu .active {
	background: #5055A0;
}
