.centerDiv { 
	margin-left: 120px;
	font-family: Helvetica,Arial,Verdana,sans-serif; 
	background: #EEE;
	min-height: 650px;
	border-left: 1px solid #333;
}

.dashTable {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dashTable li {
	height: 60px;
	padding: 10px 10px 10px 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}

.dashTable li:hover {
	padding: 10px 10px 10px 12px;
	border-left: 8px solid #59A9BC;

	/* gradient */
	background: #CBD7ED; /*for non-css3 browsers*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CBD7ED', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#CBD7ED), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #CBD7ED,  #EEEEEE); /* for firefox 3.6+ */ 
}

.dashTable .selected {
	padding: 10px 10px 10px 12px;
	border-left: 8px solid #CF7800 !important;
	background: #CBD7ED !important;
}

.divider {
	float: left;
}

.divider div {
	height: 60px;
	border-left: 1px solid #DDD;
}

#tableThumb {
	height:60px; 
	width:60px; 
	border: 1px solid white;

	/* drop shadow */
	box-shadow: 1px 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
}

#imgTd {
	float: left;
	margin-right: 10px;
}

.nameTd {
	float: left;
	width: 400px;
}

.nameTd #big {
	font-size: 16px;
	line-height: 16px;
}

.nameTd #small {
	font-size: 12px;
	line-height: 12px;
	color: #888;
}

.infoTd {
	max-width: 60px;
	overflow: hidden;
	float: left;
	margin: 3px 10px 0 10px;
}

.infoTd p {
	margin-top: 5px;
	text-align: center;
}

.infoTd #small {
	font-size:12px;
	line-height:12px; 
	color: #888;
}

.infoTd #big {
	font-size: 20px;
	line-height: 20px;
}

