#divShadow {
	position:absolute; 
	height:100%; 
	width:3px; 
	z-index:25;
	top: 0; 
	right:297px; 
	background:transparent; 

	 /* webkit example */
	background-image: -webkit-gradient(
	  linear, right top, left top, from(rgba(0, 0, 0, 0)),
	  to(rgba(0, 0, 0, 0.7))
	);
	/* mozilla example - FF3.6+ */
	background-image: -moz-linear-gradient(
	  right center,
	  rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.7) 95%
	);
	/* IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(
	  gradientType=1, startColor=0, endColorStr=#FFFFFF
	);
	/* IE8 uses -ms-filter for whatever reason... */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(
	  gradientType=1, startColor=0, endColoStr=#FFFFFF
	);
}

.centerDiv { 
	margin-left: 120px;
	margin-right:300px;  
	font-family: Helvetica,Arial,Verdana,sans-serif; 
	background: #EEE;
	min-height: 600px;
	border-left: 1px solid #333;
}

.dashTable {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dashTable li {
	height: 60px;
	padding: 10px 10px 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}

.dashTable li:hover {
	padding: 10px 10px 10px 0;

	/* gradient */
	background: #CBD7ED; /*for non-css3 browsers*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CBD7ED', endColorstr='#EEEEEE'); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#CBD7ED), to(#EEEEEE)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #CBD7ED,  #EEEEEE); /* for firefox 3.6+ */ 
}

.divider {
	float: left;
}

.divider div {
	height: 60px;
	border-left: 1px solid #DDD;
}

#tableThumb {
	height:60px; 
	width:60px; 
	border: 1px solid white;

	/* drop shadow */
	box-shadow: 1px 1px 1px 0px #999;
	-moz-box-shadow: 1px 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
}

#imgTd {
	float: left;
	margin-left: 20px;
	margin-right: 10px;
}

.nameTd {
	float: left;
	width: 218px;
}

.nameTd #big {
	font-size: 16px;
	line-height: 16px;
}

.nameTd #small {
	font-size: 12px;
	line-height: 12px;
	color: #888;
}

.infoTd {
	max-width: 60px;
	overflow: hidden;
	float: left;
	margin: 3px 10px 0 10px;
}

.infoTd p {
	margin-top: 5px;
	text-align: center;
}

.infoTd #small {
	font-size:12px;
	line-height:12px; 
	color: #888;
}

.infoTd #big {
	font-size: 20px;
	line-height: 20px;
}

