/*Everything pertaining to the right side div commences here*/
.rightSideContainer {
	position: absolute;
	z-index: 18;
	top: 0px; 
	right: 0px; 
	width: 10px; 
	height: 100%; 
	background: url(/img/bg/bg-grey.png);
	border-left: 1px solid #777;

	/* left shadow*/
	-webkit-box-shadow: -1px 0 0px #CCC;
	-moz-box-shadow: -1px 0 0px #CCC;
	box-shadow: -1px 0 0px #CCC;

	/* rounded corners */
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;

	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

#topBar {
	height: 30px;
	margin-bottom: 5px;

	border-left: 1px solid #28306B;
	border-bottom: 1px solid #28306B;	

	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;

	/* gradient */
	background: #586CB9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586CB9', endColorstr='#3B53AD'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#586CB9), to(#3B53AD)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #586CB9,  #3B53AD); /* for firefox 3.6+ */ 
}

.rightSideMenu {
	width: 300px; 
}

.rightSideFrame {
	width: 300px;
	overflow: hidden;
}

.topLeft {
	margin-left: 15px;
	float: left;
	text-align: left;
}

.topRight {
	margin-right: 15px;
	text-align: right;
}

.topLeft h2 {
	font-size: 18px; 
	line-height: 30px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

.topLeft h3 {
	font-size: 12px; 
	line-height: 16px;
	font-weight: 300;
	color: #555;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

.topRight h2 {
	font-size: 30px; 
	line-height: 50px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

.topRight h3 {
	font-size: 14px; 
	line-height: 16px;
	font-weight: 300;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

.imgDiv {
	background: #222;
	text-align: center; 
	margin-top: 10px;
}

.imgDiv img {
	height: 250px; 
	width: 250px;
	border: 2px solid #222;
}

.productHead {
	background: #FFF;
	margin-left: 10px;
	padding: 10px 0px;
	width: 530px;
}

.productHead #right {
	float: right;
	margin-left: 270px;
	display: inline-block;
}

.productHead h3 {
	font-size: 12px; 
	line-height: 14px;
	font-weight: 300;
	margin-left: 60px;
}

.productHead .add-on {
	margin-top: -8px;
}

.columnInput {
	width: 195px;
}

#price.columnInput {
	width: 167px;
}

.columnLabel {
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	text-align: right;
	width: 50px;
}

.tableDiv {
	text-align: center;
}

.productInfo { 
	background: #FFF;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0;
	width: 280px;
}

.productInfo hr {
	margin: 5px 0;
}

.productInfo select {
	width: 250px;
}

.productInfo textarea {
	width: 240px;
	height: 110px;
	resize: none;
}

#productDescr {
	padding: 0 10px;
	text-align: center;
	font-size: 12px;
}

.left {
	text-align: right; 
	vertical-align: text-top;
	width: 100px;
	color: #555;
	padding-right: 5px;
}

.right {
	text-align: left; 
	vertical-align: text-top;
	width: 160px;
}

.detailsTable input {
	font-size: 12px;
	line-height: 14px;
	height: 14px;
	margin: 2px 0;
}

.inputMiddle .add-on {
	background-color: #EEE;
	border: 1px solid #CCC;
	text-align: center;
	text-shadow: 0 1px 0 white;
	vertical-align: middle;
	padding: 4px 5px;
	margin-left: -1px;
	margin-right: -5px;
	display: inline-block;
	line-height: 12px;
}

.detailsTable .input-prepend input {
	width: 123px;
}

input#dleft {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

input#dright {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.detailsTable .add-on {
	height: 14px;
}

.shareInfo {
	background: #FFE0C0;
	margin: 10px 10px 0 10px; 
	padding: 10px 0;
	text-align: center;
}

.shareInfo h3 {
	font-size: 12px;
	line-height: 15px;
	font-weight: 400;
}

.shareInfo hr {
	margin: 5px 0;
	border-top: 1px solid #E0C0A0;
	border-bottom: 1px solid #FFFDDD;
}

#twitter {
	height: 30px; 
	width: 30px; 
	margin-top: 5px;
	border: none;
	box-shadow: none; 
}

#facebook {
	height: 30px; 
	width: 30px; 
	margin-top: 5px;
	border: none; 
	box-shadow: none;
}

#productURL {
	width: 120px; 
	height: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
	width: 160px;
	background-color: #FFFDDD;
	font-size: 15px;
	border-radius: 4px; 
	cursor: pointer; 
	text-align: center;
}

#edit {
	font-size: 18px;
	line-height: 25px;
	width: 280px;
	margin-left: 10px;
	margin-top: 15px;
}

