.sticky {
	position: fixed;
	top: -60px;
}

#main-shebang {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px; 
	min-height:700px; 
	width: 980px;
	background: #fff;
	overflow:hide; 

	/* drop shadow */
	box-shadow: 2px 2px 5px 1px #999;
	-moz-box-shadow: 2px 2px 5px 1px #999;
	-webkit-box-shadow: 2px 2px 5px 1px #999;

	/* rounded corner */
	o-border-radius: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


#topDiv {
	position: relative;
	width:100%; 
	height:80px;
	z-index:100; 
	letter-spacing:1px; 
	font-family: Helvetica,Arial,Verdana,sans-serif; 
	background: #586CB9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586CB9', endColorstr='#3B53AD'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#586CB9), to(#3B53AD)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #586CB9,  #3B53AD); /* for firefox 3.6+ */ 
	/* For IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom: 1px solid #28306B;	
}

.overviewData {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	height: 60px;
	width: 500px;

	o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	/* inner shadow */
	-moz-box-shadow:    inset 0px 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0px 1px 5px rgba(0,0,0,0.5);
	box-shadow:         inset 0px 1px 5px rgba(0,0,0,0.5);

	/* vertical gradient */
	background: #28306B; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F3A7E', endColorstr='#28306B'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2F3A7E), to(#28306B)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2F3A7E,  #28306B); /* for firefox 3.6+ */ 
}

.theData {
	color: white;
	text-align: center;
	width: 125px;
	overflow: hidden;
	float: left;
}

#overviewNum {
	font-size: 35px;
	line-height: 35px;
	margin: 3px 0;
}

#overviewDescr {
	font-weight: 300;
	font-size: 12px;
	font-height: 12px;
}

