.sticky {
	position: fixed;
	top: -80px;
}

#mainShebang {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px; 
	width: 980px;
	background: #EEE;
	overflow: hidden;
}

#topDiv {
	position: relative;
	width:980px;
	height:80px;
	z-index:100; 
	letter-spacing:1px; 
	font-family: Helvetica,Arial,Verdana,sans-serif; 

	/* gradient */
	background: #586CB9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586CB9', endColorstr='#3B53AD'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#586CB9), to(#3B53AD)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #586CB9,  #3B53AD); /* for firefox 3.6+ */ 
	/* For IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

	border-bottom: 1px solid #28306B;	

	/* rounded corners on top */
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.creditsDiv {
	float: left;
	overflow: hidden;
	margin-left: 610px;
	margin-top: 19px;
	color: #FFF;
	height: 40px;
	width: 200px;
	text-align: right;
	padding-right: 10px;
	border: 1px solid #253175;

	/* gradient */
	background: #28306B; /* for non-css3 browsers */

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F3A7E', endColorstr='#28306B'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2F3A7E), to(#28306B)); /* for webkit browsers */

	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	border-top-left-radius: 20px;

	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.creditsDiv #overviewNum {
	font-weight: 300;
	/* letter press effect */
	text-shadow:#FFF 0px 1px 0, #253175 0 -1px 0;
	font-size: 30px;
	line-height: 40px;
	margin: 0;
}

.creditsDiv #dollar {
	float: left;
	line-height: 40px;
	margin-left: 10px;
	font-size: 25px;
}

.cashOut {
	float: left;
	margin-top: 19px;
	margin-right: 30px;
	width: 100px;
	height: 42px;
	padding: 0;
	border-top: 1px solid #FFDF85;
	border-right: 1px solid #FFDF85;
	border-bottom: 1px solid #CF7800;
	border-left: 1px solid #CF7800;
	cursor: pointer;

	/* gradient */
	background: #FFA804;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCF75', endColorstr='#FFA804'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCF75), to(#FFA804)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFCF75,  #FFA804); /* for firefox 3.6+ */ 

	o-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-right-radius: 20px;
	o-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.cashOut:hover {
	background: #FFA804;
}

.cashOut:active {
	background: #DF8800;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA804', endColorstr='#DF8800'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFA804), to(#DF8800)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFA804,  #DF8800); /* for firefox 3.6+ */ 

	-moz-box-shadow:    inset 0px 5px 7px rgba(0,0,0,0.5);
	-ms-box-shadow:    inset 0px 5px 7px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0px 5px 7px rgba(0,0,0,0.5);
	box-shadow:         inset 0px 5px 7px rgba(0,0,0,0.5);
	border: 0;
}

.cashOut img {
	width: 100px;
	height: 35px;
	padding: 12px 0 0 12px;
}

.cashOut p {
	font-size: 25px;
	line-height: 40px;
	color: #FFF;

	/* letter press effect */
	text-shadow:#FFF 0px 1px 0, #999 0 -1px 0;
}

.nicEdit-main {
	outline: none;
}

/* we want to hide the actual upload button off screen*/
.uploadIframe {
	opacity: 0;
	-moz-opacity: 0;
	position: absolute;
	top: -100px;
	left: -100px;
	margin: 0;
}

