
.main-shebang {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px; 
	min-height:700px; 
	width: 980px;
	background: #fff;
	box-shadow: 2px 2px 5px 1px #999;
	-moz-box-shadow: 2px 2px 5px 1px #999;
	-webkit-box-shadow: 2px 2px 5px 1px #999;
	o-border-radius: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow:hide; 
}


.topDiv {
	position: relative;
	width:100%; 
	height:80px;
	z-index:100; 
	letter-spacing:1px; 
	font-family: Helvetica,Arial,Verdana,sans-serif; 
	background: #586CB9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586CB9', endColorstr='#3B53AD'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#586CB9), to(#3B53AD)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #586CB9,  #3B53AD); /* for firefox 3.6+ */ 
	/* For IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom: 1px solid #28306B;	
}

.sticky {
	position: fixed;
	top: -60px;
}

