/*Everything pertaining to the right side div commences here*/
.rightSideBottom {
	position:absolute;
	z-index: 18;
	top: 0px; 
	right:0px; 
	width:300px; 
	height:100%; 
	float: right; 
	background:#CFE5F4; 
	o-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	o-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.rightSideDiv {
	position:absolute;
	z-index: 20;
	width:300px; 
	float: right; 
}

.topLeft {
	margin-top:100px; 
	float: left;
}

.topRight {
	margin-top:100px; 
	float: right;
	text-align: right;
}

.topLeft h2 {
	font-size:18px; 
}

.topLeft h3 {
	font-size:14px; 
}

.topRight h2 {
	font-size:18px; 
}

.topRight h3 {
	font-size:14px; 
}

.imgDiv {
	text-align:center; 
}

.imgDiv img {
	height:250px; 
	width:250px;
	border:5px solid #fff; 
	box-shadow:4px 4px 2px #888888;	
}

.shareInfo {
	margin-top:10px; 
	text-align:center;
}

#twitter {
	left:210px; 
	height:32px; 
	width:32px; 
	border:none;
	box-shadow:none; 
}

#facebook {
	height:32px; 
	width:32px; 
	border:none; 
	box-shadow:none;
}

#productURL {
	width:120px; 
	height:22px;
	color:#666; 
	border-radius:4px; 
	cursor:pointer; 
	text-align:center;
}

.tableDiv {
	text-align:center;
	line-height:10px; 
}

.productInfo { 
	height:150px; 
	padding-left:50px; 
	margin-top:5px; 
}

.left {
	text-align:right; 
	padding-left:50px; 
	padding-right:20px; 
}

.right {
	text-align:left; 
}

#edit {
	position:absolute; 
	top:620px; 
	left:220px;
}

