/*Everything pertaining to the right side div commences here*/
.rightSideBottom {
	position: absolute;
	z-index: 18;
	top: 0px; 
	right: 0px; 
	width: 300px; 
	height: 100%; 
	float: right; 
	background: url(/img/bg/bg-grey.png);
	o-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	o-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.rightSideDiv {
	margin-top: 80px;
	padding-top: 5px;
	position: absolute;
	z-index: 20;
	width: 300px; 
	float: right; 
}

.topLeft {
	margin-left: 15px;
	float: left;
	text-align: left;
}

.topRight {
	margin-right: 15px;
	text-align: right;
}

.topLeft h2 {
	font-size: 18px; 
	line-height: 30px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

.topLeft h3 {
	font-size: 12px; 
	line-height: 16px;
	font-weight: 300;
	color: #555;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

.topRight h2 {
	font-size: 30px; 
	line-height: 50px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

.topRight h3 {
	font-size: 14px; 
	line-height: 16px;
	font-weight: 300;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.43);
}

.imgDiv {
	background: #222;
	text-align: center; 
	margin-top: 10px;
}

.imgDiv img {
	height: 250px; 
	width: 250px;
	border: 2px solid #222;
}


.tableDiv {
	text-align: center;
}

.productInfo { 
	background: #FFF;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0;
	width: 280px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 1px #999;
	-moz-box-shadow: 2px 2px 5px 1px #999;
	-webkit-box-shadow: 2px 2px 5px 1px #999;
}

.productInfo hr {
	margin: 5px 0;
}

#description {
	text-align: center;
	font-size: 12px;
}

.left {
	text-align: right; 
	vertical-align: text-top;
	width: 130px;
	color: #555;
	padding-right: 10px;
}

.right {
	text-align: left; 
	vertical-align: text-top;
	width: 130px;
	padding-left: 10px;
}

.shareInfo {
	background: #FFF;
	margin: 10px 10px 0 10px; 
	padding: 10px 0;
	text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 1px #999;
	-moz-box-shadow: 2px 2px 5px 1px #999;
	-webkit-box-shadow: 2px 2px 5px 1px #999;
}

.shareInfo h3 {
	font-size: 12px;
	line-height: 15px;
	font-weight: 300;
}

.shareInfo hr {
	margin: 5px 0;
}

#twitter {
	height: 30px; 
	width: 30px; 
	border: none;
	box-shadow: none; 
}

#facebook {
	height: 30px; 
	width: 30px; 
	border: none; 
	box-shadow: none;
}

#productURL {
	width: 120px; 
	height: 20px;
	margin-top: 8px;
	width: 160px;
	color: #666; 
	border-radius: 4px; 
	cursor: pointer; 
	text-align: center;
}

#edit {
	font-size: 18px;
	line-height: 25px;
	width: 280px;
	margin-left: 10px;
	margin-top: 15px;
}

