
.main-shebang {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px; 
	position: relative;
	min-height:600px; 
	width: 980px;
	background: #fff;
	border: 1px solid #333;
	o-border-radius: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow:hide; 
}


.topDiv {
	position:absolute; 
	top:0; 
	left:-1px; 
	border: 10px; 
	width:100%; 
	height:65px;
	z-index:100; 
	border: 1px solid #333; 
	
	background: #586CB9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586CB9', endColorstr='#3B53AD'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#586CB9), to(#3B53AD)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #586CB9,  #3B53AD); /* for firefox 3.6+ */ 
	/* For IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	
}

.tab-content .table {
	margin-top:-17px; 
} 
 
.topDiv h1 {
	color: #F2E3CC;
	padding-left: 20px; 
	padding-top:21px; 
	font-size:16px; 
}

.leftSideDiv { 
	position:absolute;
	z-index: 20;
	top: 0; 
	left:0; 
	width:120px; 
	height:100%; 
	float: left; 
	background: #475189; /*for non-css3 browsers*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475189', endColorstr='#28306B'); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#475189), to(#28306B)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #475189,  #28306B); /* for firefox 3.6+ */ 
	o-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	o-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.leftSideDiv .sideData {
	position:absolute; 
	z-index:25; 
	top:200px; 
	width:120px; 
	text-align:center; 
	color:#fff; 
	font-size:35px; 
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.43);
}

.leftSideDiv .sideDataText {
	position:absolute; 
	line-height:25px; 
	font-size:16px; 
	z-index:25; 
	width:120px; 
	text-align:center; 
	color:#fff; 
	font-size:16px;
	text-shadow: 0 2px 6px rgba(0, 0, 0, 0.43);
	
}

.leftSideDiv .sideDataText#number0fSales {
	top:200px; 
}
.leftSideDiv .sideDataText#salesText {
	top:230px; 
}

.leftSideDiv .sideData#dollars {
	top:295px;
}

.leftSideDiv .sideDataText#dollarsText {
	top:325px;
}

.rightSideBottom {
	position:absolute;
	z-index: 18;
	top: 0px; 
	right:0px; 
	width:300px; 
	height:100%; 
	float: right; 
	background:#CFE5F4; 
	o-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	o-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

.rightSideDiv {
	position:absolute;
	z-index: 20;
	width:300px; 
	float: right; 
	/*background:#CFE5F4; 
	o-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	o-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;*/
	
}

.sticky {
	position: fixed;
	top: 0px;
}

#edit {
	position:absolute; 
	top:80px; 
	left: 220px;
}

#shadow {
	position:absolute; 
	height:100%; 
	width:3px; 
	z-index:25;
	top: 0; 
	right:298px; 
	background:transparent; 
	 /* webkit example */
	background-image: -webkit-gradient(
	  linear, right top, left top, from(rgba(0, 0, 0, 0)),
	  to(rgba(0, 0, 0, 0.7))
	);
	/* mozilla example - FF3.6+ */
	background-image: -moz-linear-gradient(
	  right center,
	  rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.7) 95%
	);
	/* IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(
	  gradientType=1, startColor=0, endColorStr=#FFFFFF
	);

	/* IE8 uses -ms-filter for whatever reason... */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(
	  gradientType=1, startColor=0, endColoStr=#FFFFFF
	);
}

.nav-tabs .active a, .nav-tabs .active a:hover {
	background:#fff; 
	color:#475189; 	
}

#twitter {
	position:absolute; 
	top:500px; 
	left:230px; 
	height:25px; 
	width:25px; 
	
}

#facebook {
	position:absolute; 
	top:500px; 
	left:200px; 
	height:25px; 
	width:25px; 
}

#envelope {
	position:absolute; 
	top:500px; 
	left:160px; 
	height:22px; 
	width:34px; 
	border:1px solid silver; 
}

.rightSideDiv textarea {
	position:absolute; 
	top: 500px;
	left:20px; 
	width:130px; 
}

.form-search {
	position: absolute; 
	float: right; 
	bottom: 0px; 
	right:20px; 
	z-index: 100; 
}

#Share {
	position:absolute; 
	top:525px; 
	left:40px; 
	height:22px; 
	font-size:10px; 
	
}

/*larger thumbnail view*/
.rightSideDiv img {
	position:absolute; 
	top:195px; 
	left:75px; 
	height:150px; 
	width:150px; 
}

.centerDiv{ 
	margin-top: 65px;
	margin-left: 120px;
	margin-right:200px;   
}

#productName {
	position: absolute; 
	top: 110px; 
	left: 10px; 
	color:#666; 
}

#productURL {
	position: absolute; 
	top:500px; 
	left: 10px; 
	width:120px; 
	height:15px;
	color:#666; 
	border-radius:10px; 
	cursor:pointer; 
	text-align:center;
	}

.rightSideDiv h2 {
	font-size:18px; 
}

.rightSideDiv h3 {
	font-size:14px; 
}

.rightSideDiv h4 {
	font-size:11px; 
}

#fileName {
	position:absolute; 
	top: 135px; 
	left: 10px; 
	color:#666; 
}

#Category {
	position: absolute; 
	top:140px; 
	left:215px; 
	color:#666; 
}

#Price {
	position: absolute; 
	top:116px; 
	left:226px;
	color:#666; 
}

#rightDivhr {
	position: absolute; 
	top:160px; 
	width:280px; 
	left:10px; 
}

.table-bordered {
	width:100%; 
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}

.menu-item li:hover {
  background: #eee;
}

/*First Item Styles*/
.alpha p {
	padding: 8px 12px;
	color: #aaa;
}

.alpha p a {
	color: #aaa;
	font-style: italic;
}

.alpha p a:hover {
	color: #ccc;
}

