
.main-shebang {
	margin-left:auto;
	margin-right:auto;
	position: relative;
	min-height:400px; 
	width: 980px;
	background: #fff;
	border: 1px solid #333;
}

.topDiv {
	position:absolute; 
	top:0; 
	left:0; 
	border: 10px; 
	width:100%; 
	height:65px;
	z-index:100; 
	border-bottom: 1px solid #333; 
	background: #586CB9; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#586CB9', endColorstr='#3B53AD'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#586CB9), to(#3B53AD)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #586CB9,  #3B53AD); /* for firefox 3.6+ */ 
	/* For IE 8 */-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.tab-content .table {
	margin-top:-18px; 
}

 
.topDiv h1 {
	color: #ddd;
	padding-left: 20px; 
	padding-top:21px; 
	font-size:18px; 
}

.leftSideDiv { 
	position:absolute;
	z-index: 20;
	top: 0; 
	left:0; 
	width:120px; 
	height:100%; 
	float: left; 
	background: #475189; /*for non-css3 browsers*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475189', endColorstr='#28306B'); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#475189), to(#28306B)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #475189,  #28306B); /* for firefox 3.6+ */ 
}

.leftSideDiv .sideData {
	position:absolute; 
	z-index:25; 
	top:130px; 
	width:120px; 
	text-align:center; 
	color:#fff; 
	font-size:35px; 
}

.leftSideDiv .sideDataText {
	line-height:25px; 
	font-size:16px; 
	position:absolute; 
	z-index:25; 
	width:120px; 
	text-align:center; 
	color:#fff; 
	font-size:16px;
}

.leftSideDiv .sideDataText#salesText {
	top:160px; 
}

.leftSideDiv .sideData#dollars {
	top:230px;
}

.leftSideDiv .sideDataText#dollarsText {
	top:260px;
}

.rightSideDiv {
	position:absolute;
	z-index: 20;
	top: 0; 
	right:0; 
	width:200px; 
	height:100%; 
	float: right; 
	background:#BCD0DD; 
}

#shadow {
	position:absolute; 
	height:100%; 
	width:3px; 
	z-index:25;
	top: 0; 
	right:197px; 
	background:transparent; 
	 /* webkit example */
	background-image: -webkit-gradient(
	  linear, right top, left top, from(rgba(0, 0, 0, 0)),
	  to(rgba(0, 0, 0, 0.7))
	);
	/* mozilla example - FF3.6+ */
	background-image: -moz-linear-gradient(
	  right center,
	  rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 0.7) 95%
	);
	/* IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(
	  gradientType=1, startColor=0, endColorStr=#FFFFFF
	);

	/* IE8 uses -ms-filter for whatever reason... */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(
	  gradientType=1, startColor=0, endColoStr=#FFFFFF
	);
}

.nav-tabs .active a, .nav-tabs .active a:hover {
	background:#fff; 
	color:#475189; 	
}



.tabbable {
	  background:#fff; 
}

#twitter {
	height:20px; 
	width:20px; 
}

#facebook {
	height:20px; 
	width:20px; 
}

.nav li a:hover{
	background:#89AFCD; 
	border:none; 
}

.nav-tabs {
	font-size:14px; 
	background:#6491cc; 
	color:#fff;
	border:none; 
}

.nav a {
	color:#fff; 
}

.form-search {
	position: absolute; 
	float: right; 
	bottom: 0px; 
	right:20px; 
	z-index: 100; 
}

.sidebar-div{ 
	margin-top: 65px;
	margin-left: 120px;
	margin-right:200px;   
}

.itemThumbnail {
	height: 50px; 
	width:50px; 
	padding-left:20px;
}


/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}

.menu-item li:hover {
  background: #eee;
}

/*First Item Styles*/
.alpha p {
	padding: 8px 12px;
	color: #aaa;
}

.alpha p a {
	color: #aaa;
	font-style: italic;
}

.alpha p a:hover {
	color: #ccc;
}

