
.main-shebang {
	margin-left:auto;
	margin-right:auto;
	position: relative;
	width: 970px;
	background: #EDEDED;
	padding: 5px;
	border: 1px solid #333;
}

.tablebar tr {
	height:34px; 
}

.tablebar {
	margin-left: 200px; 
	width: 770px;

	background:rgba(0,0,0,0); 
	text-align:left
	border: 1px solid #eee;
	
  border: 1px solid rgba(0,0,0,0.3);

  /*Gradient*/
  background: #FFF; /* Old browsers */
  background: -moz-linear-gradient(top, #F05911 0%, ##6D2706 44%, #9D3A0B 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F05911), color-stop(44%,##6D2706), color-stop(100%,#9D3A0B)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F05911 0%,##6D2706 44%,#9D3A0B 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F05911 0%,##6D2706 44%,#9D3A0B 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F05911 0%,##6D2706 44%,#9D3A0B 100%); /* IE10+ */
  background: linear-gradient(top, #F05911 0%,##6D2706 44%,#9D3A0B 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F05911', endColorstr='#9D3A0B',GradientType=0 ); /* IE6-9 */
}
	
.menu-item li:hover {
  background: #eee;
}	

.sidebar-div {
	position:absolute; 
	left:5px;
	top:5px; 
}

.table {
	height:700px;
	width:800px;
}

.thumbnails {
	height:50px; 
	width:50px;
}

nav {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 1.5;
  width: 200px;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}


.toprow th {
	background:#F05911; 
	color:#fff; 
}

.menu-item {
  background: #fff;
  width: 200px; 
   
}

/*Menu Header Styles*/
.menu-item h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;

  /*Gradient*/
  background: #F05911; /* Old browsers */
  background: -moz-linear-gradient(top, #F05911 0%, ##6D2706 44%, #9D3A0B 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F05911), color-stop(44%,##6D2706), color-stop(100%,#9D3A0B)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F05911 0%,##6D2706 44%,#9D3A0B 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F05911 0%,##6D2706 44%,#9D3A0B 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F05911 0%,##6D2706 44%,#9D3A0B 100%); /* IE10+ */
  background: linear-gradient(top, #F05911 0%,##6D2706 44%,#9D3A0B 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F05911', endColorstr='#9D3A0B',GradientType=0 ); /* IE6-9 */
}

.menu-item h4:hover {  
  background: #c74a0e; /* Old browsers */
  background: #c74a0e  /*-moz-linear-gradient(top,  #c74a0e 0%, #9D3A0B 100%); /* FF3.6+ */
  background: #c74a0e /*-webkit-gradient(linear, left top, left bottom, color-stop(0%,#c74a0e), color-stop(100%,#9D3A0B)); /* Chrome,Safari4+ */
  background:  #c74a0e /*-webkit-linear-gradient(top,  #c74a0e 0%,#9D3A0B 100%); /* Chrome10+,Safari5.1+ */
  background:  #c74a0e /*-o-linear-gradient(top,  #c74a0e 0%,#9D3A0B 100%); /* Opera 11.10+ */
  background:  #c74a0e /*-ms-linear-gradient(top,  #c74a0e 0%,#9D3A0B 100%); /* IE10+ */
  background: #c74a0e  /*linear-gradient(top,  #c74a0e 0%,#9D3A0B 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c74a0e', endColorstr='#9D3A0B',GradientType=0 ); /* IE6-9 */

}

.menu-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  width: 200px;
}

/*ul Styles*/
.menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;

  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}



.menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #aaa;
  display: block;
  width: 200px;
}

/*li Styles*/
.menu-item li {
  border-bottom: 1px solid #eee;
}

.menu-item li:hover {
  background: #eee;
}

/*First Item Styles*/
.alpha p {
	padding: 8px 12px;
	color: #aaa;
}

.alpha p a {
	color: #aaa;
	font-style: italic;
}

.alpha p a:hover {
	color: #ccc;
}

