/* Bitlet-hero */
#bitlet-hero{
	height:300px;
	width:100%;
	background:#6885A7;
	margin-bottom:35px;
}
#hero-container {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

#home-featured-left{
	float:left;
}
#home-featured-right{
	float: right;
	width: 440px;
	background:url(/img/hero-pop-bg.png) repeat;
	margin:-18px 0;
	height:310px;
	padding:10px;
	box-shadow:-8px 0px 21px -11px black;
	-webkit-box-shadow:-8px 0px 21px -11px black;
	-moz-box-shadow:-8px 0px 21px -11px black;
}
#home-featured-right #content{
	height:310px;
	width:440px;
}

.hero-img {
	margin-top: 15px;
	width: 500px;
	height: 270px;
}

.email-suggestion-wrap{
}
.email-suggestion{
}
.triangle {
	border-color: transparent #DACFBA transparent transparent;
	border-style:solid;
	height:0px;
	width:0px;
}
#top-triangle{
	position: relative;
	top: -320px;
	left: -46px;
	z-index: -1;
	border-width:18px;
}
#bottom-triangle{
	position: relative;
	top: -62px;
	left: -46px;
	z-index: -1;
	border-width:18px;
}

/* Marketing styles */

.marketing .thumbnail {
	border: 0px solid;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.marketing h1, h2 {
	font-weight: 300;
}

.marketing h1 {
	font-size: 36px;
	padding-top: 30px;
	padding-left: 15px;
}

.marketing h2 {
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.marketing p {
	line-height: 25px;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 30px;
	padding-bottom: 10px;
	color: #555;
}

/* upload iframe */
.upload-iframe {
	display: none;
}

.FileIFrame {
	border: 0px;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

#FileModal {
	width: 500px;
	left: 50%;
}


