body {
	padding-top: 70px;
}

/* upload iframe */
.upload-iframe {
	display: none;
}

.FileIFrame {
	border: 0px;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

#FileModal {
	width: 500px;
	left: 50%;
}


