/*Starting FAQ section*/
.faq h1 {
	margin: 0px 0 0 px;
	font-size:30px;
	font-weight: 300;
}
.faq h2,
.faq h3 {
	font-weight: normal;
}
.faq h2 {
	font-size: 16px;
}
.faq p {
	text-align: left;
	margin-right: 12px;
	font-size: 12px; 
}

.container .faq {
	width: 531;
}

#FAQModal {
	width: 970px; 
	left: 36%;
}

